.sign-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.sign-up-container h1 {
  margin-top: 25px;
}

.form-input {
  margin-bottom: 15px;
}

.form-input input {
  width: 250px;
  height: 25px;
  border: none;
  border-radius: 25px 25px;
  padding-left: 15px;
}

.sign-up-container button {
  padding: 10px 10px;
  border: none;
  width: 250px;
  background-color: black;
  color: white;
  border-radius: 25px 25px;
}
